@font-face {
  font-family: "Brevia";
  src: url("/fonts/HvDTrial_Brevia-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Brevia";
  src: url("/fonts/HvDTrial_Brevia-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Brevia";
  src: url("/fonts/HvDTrial_Brevia-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Brevia";
  src: url("/fonts/HvDTrial_Brevia-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Brevia";
  src: url("/fonts/HvDTrial_Brevia-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Brevia";
  src: url("/fonts/HvDTrial_Brevia-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Brevia";
  src: url("/fonts/HvDTrial_Brevia-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Brevia";
  src: url("/fonts/HvDTrial_Brevia-SemiBoldItalic.otf") format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Brevia";
  src: url("/fonts/HvDTrial_Brevia-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Brevia";
  src: url("/fonts/HvDTrial_Brevia-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Brevia";
  src: url("/fonts/HvDTrial_Brevia-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Brevia";
  src: url("/fonts/HvDTrial_Brevia-BlackItalic.otf") format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Brevia";
  src: url("/fonts/HvDTrial_Brevia-ExtraBlack.otf") format("opentype");
  font-weight: 950;
  font-style: normal;
}

@font-face {
  font-family: "Brevia";
  src: url("/fonts/HvDTrial_Brevia-ExtraBlackItalic.otf") format("opentype");
  font-weight: 950;
  font-style: italic;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Brevia", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #707070;
}

header {
  margin: 0 7rem;

  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0;

  .burger_btn {
    display: none;
  }

  a,
  button {
    cursor: pointer;
    font-family: "Brevia", sans-serif;
    border: none;
    background: none;
    text-decoration: none;
    color: #707070;
    font-size: 1rem;
    font-weight: 500;
    padding: 0;
    margin: 0;
    text-align: start;
  }

  .active {
    color: #ff55fb;
    font-weight: bold;
  }
}

@media (max-width: 768px) {
  header {
    justify-content: space-between;

    .burger_btn {
      display: block;
      width: 3rem;
      border: none;
      background: none;
    }

    .logo_btn {
      width: 6rem;
    }

    .header_link {
      display: none;
    }
  }
}

.menu {
  display: none;
  gap: 1rem;

  .menu_link {
    text-decoration: none;
    color: #707070;
  }
}

.opened {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 5rem;
  right: 0;
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 10px;
}

main {
  margin: 0 7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .articles_background {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url("/public/articlesBackground.svg");
    background-size: cover;
  }

  .team {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    grid-column-gap: 5rem;
    grid-row-gap: 1rem;
    width: 100%;
    max-width: 70rem;

    .team_member {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-sizing: border-box;
      padding: 1rem;
      background-color: #fff;
      width: 100%;

      img {
        max-width: 15rem; 
        object-fit: cover;
        border-radius: 100%;
      }

      h2 {
        color: #FF55FB;
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }
    }

    @media (max-width: 768px) {
      .team_member {
        img {
          width: 15rem;
        }

        h2 {
          font-size: 1rem;
        }

        p {
          font-size: 0.8rem;
        }
      
      }
    }
  }

  @media (max-width: 768px) {
    .articles_background {
      padding-bottom: 10rem;
    }
  }
  @media (max-width: 630px) {
    .articles_background {
      padding-bottom: 20rem;
    }
  }
  .articles_container {
    padding: 10rem 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80rem;

    article {
      box-sizing: border-box;
      text-align: center;
      display: flex;
      flex-direction: column;
      margin: 1rem;
      padding: 0 1rem;
      background-color: #fff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: 20px;
      width: 100%;
      height: 360px;
      max-width: 250px;

      video {
        box-sizing: border-box;
        width: 100%;
        height: 200px;
        object-fit: contain;
        padding: 0 1.8rem;
        border-radius: 20px;
      }

      h2 {
        color: #FF55FB;
        margin: 0;
        font-size: 1.2rem;
        position: relative;
        top: -20px;
      }

      p {
        font-size: .9rem;
        margin: 0;
        position: relative;
        top: -10px;
      }

      a {
        position: relative;
        img {
          width: 2.8rem;
        }
      }
    }

    article:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      box-shadow: inset 0px 0px 0px 2px #ffe815;
    }
  }

  @media (max-width: 768px) {
    .articles_container {
      padding: 0;
      padding-top: 5rem;
    }
  }
  @media (max-width: 500px) {
    .articles_container {
      padding-top: 2rem;
    }
  }

  .posts_container {
    background-image: url("/public/postsBackground.svg");
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;

    .posts_heading {
      width: 20rem;
      margin-bottom: 2rem;
      font-family: "Brevia", sans-serif;
      color: #ff55fb;
      border: 0.45rem solid #ff55fb;
      padding: 0.3rem 2.5rem;
      text-align: center;
      border-radius: 5rem;
    }

    @media (max-width: 768px) {
      .posts_heading {
        font-size: 1.5rem;
        width: 15rem;
        padding: 0.3rem 2rem;
      }
    }

    @media (max-width: 508px) {
      .posts_heading {
        font-size: 1.2rem;
        width: 12rem;
        padding: 0.3rem 1.5rem;
      }
    }

    @media (max-width: 400px) {
      .posts_heading {
        font-size: 1rem;
        width: 10rem;
        padding: 0.3rem 1rem;
      }
    }

    .posts {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(19.5rem, 1fr));
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      max-width: 80rem;
      article {
        box-sizing: border-box;
        padding: 1rem;
        background-color: #fff;
        border-radius: 20px;
        width: 100%;

        img {
          position: relative;
          left: -15px;
          width: calc(100% + 2rem);
          box-sizing: border-box;
          object-fit: cover;
          border-radius: 20px;
        }

        h2 {
          font-size: 1.2rem;
          margin-bottom: 1rem;
        }

        .pinkHeading {
          color: #ff55fb;
        }

        .greenHeading {
          color: #91e523;
        }

        p {
          font-size: 1rem;
          margin-bottom: 1rem;
        }

        a {
          display: flex;
          align-items: center;
          gap: 1rem;
          text-decoration: none;
          font-weight: bold;
          color: inherit;

          img {
            width: 2rem;
            height: 2rem;
          }
        }
      }
    }

    .more_btn {
      width: 16rem;
      height: 4rem;
    }

    .more_btn img {
      width: 16rem;
      height: 4rem;
    }
  }

  .videos_container {
    padding: 10rem 0;
    background: #ffe815;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: -1;

    .video {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      z-index: 0;

      .video-wrapper {
        position: relative;
        display: inline-block;
      }

      .video_background {
        border-radius: 40px;
        position: absolute;
        top: -22px;
        left: 10px;
        width: calc(100% - 1.3rem);
        height: calc(100% + 2rem);
        transform: rotate(5deg); /* Tilts the background */
        z-index: -1;
        background: #70e8ff;
      }

      img {
        position: relative;
        z-index: 0;
      }

      .play-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
      }

      h2 {
        color: #ff55fb;
      }

      .text_container {
        width: 30rem;
      }
    }
    .video:nth-child(2) {
      margin-top: 10rem;
      flex-direction: row-reverse;

      .video_background {
        transform: rotate(-3deg);
      }
    }

    @media (max-width: 1300px) {
      .video {
        img {
          width: 35rem;
        }
        .play-button {
          width: 4rem;
        }

        h2 {
          font-size: 1.2rem;
        }

        p {
          font-size: 1rem;
        }
        .text_container {
          width: 20rem;
        }
      }
    }
    @media (max-width: 950px) {
      .video {
        img {
          width: 25rem;
        }
        .play-button {
          width: 3rem;
        }

        h2 {
          font-size: 1rem;
        }

        p {
          font-size: 0.8rem;
        }

        .text_container {
          width: 15rem;
        }
      }
    }

    @media (max-width: 700px) {
      .video {
        flex-direction: column;
        img {
          width: 30rem;
        }
        .play-button {
          width: 4rem;
        }

        h2 {
          font-size: 1.7rem;
        }

        p {
          font-size: 1rem;
        }

        .text_container {
          width: 80%;
        }
      }
      .video:nth-child(2) {
        flex-direction: column;
      }
    }
    @media (max-width: 550px) {
      .video {
        flex-direction: column;
        img {
          width: 20rem;
        }
        .play-button {
          width: 3rem;
        }

        h2 {
          font-size: 1.2rem;
        }

        p {
          font-size: 0.7rem;
        }

        .text_container {
          width: 80%;
        }
      }
      .video:nth-child(2) {
        flex-direction: column;
      }
    }
    @media (max-width: 375px) {
      .video {
        flex-direction: column;
        img {
          width: 17rem;
        }
        .play-button {
          width: 2rem;
        }

        h2 {
          font-size: 1rem;
        }

        p {
          font-size: 0.7rem;
        }

        .text_container {
          width: 80%;
        }
      }
      .video:nth-child(2) {
        flex-direction: column;
      }
    }
  }
}

@media (max-width: 1000px) {
  main,
  header {
    margin: 0 4rem;
  }
}
@media (max-width: 800px) {
  main,
  header {
    margin: 0 2rem;
  }
}
@media (max-width: 500px) {
  main,
  header {
    margin: 0;
  }

  header {
    padding: 0 2rem;
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 5rem;

  .footer_content {
    width: 40rem;
    display: flex;
    flex-direction: column;
  }

  h1 {
    color: #ff55fb;
    font-weight: bold;
    font-style: italic;
  }

  .email_input {
    display: flex;
    gap: 2rem;

    input {
      width: 20rem;
      height: 3rem;
      border: 3px solid #91e523;
      border-radius: 40px;
      font-size: 1.2rem;
      color: #707070;
      padding: 0.2rem 1.5rem;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 15rem;
      height: 3.5rem;
      border: none;
      border-radius: 40px;
      background-color: #91e523;
      color: #fff;
      padding: 0.7rem 1.5rem;
      font-size: 1.5rem;
      font-weight: bold;
      box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    }
  }

  .terms_container {
    margin: 2rem 0;
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    padding-left: 2.5rem;

    /* Hide the browser's default checkbox */
    input {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
    }

    .checkmark {
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      height: 25px;
      width: 25px;
      border: 4px solid #91e523;
      border-radius: 7px;
    }

    /* On mouse-over */
    :hover input ~ .checkmark {
      background-color: #cccccc6c;
    }

    /* When the checkbox is checked */
    input:checked ~ .checkmark {
      background-color: #91e523;
    }

    /* Create the checkmark */
    :after {
      content: "";
      position: absolute;
      display: none;
    }

    /* When checked */
    input:checked ~ .checkmark:after {
      display: block;
    }

    /* Checkmark style */
    .checkmark:after {
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  .green_line {
    width: 100%;
    height: 2px;
    background-color: #91e523;
  }

  .footer_links {
    display: flex;
    gap: 2rem;
    justify-content: start;
    align-items: center;

    a {
      color: #707070;
      font-size: 1.2rem;
    }
  }
}

@media (max-width: 1100px) {
  footer {
    .footer_content {
      width: 30rem;

      h1 {
        font-size: 1.5rem;
      }

      p {
        font-size: 1rem;
      }

      .email_input {
        input {
          width: 15rem;
          height: 2.5rem;
          font-size: 1rem;
        }
        button {
          width: 10rem;
          height: 3rem;
          font-size: 0.9rem;
        }
      }
      .terms_container {
        font-size: 0.8rem;

        .checkmark {
          height: 15px;
          width: 15px;
        }
        .checkmark:after {
          left: 5px;
          top: 2px;
          width: 3px;
          height: 6px;
        }
      }
      .footer_links {
        a {
          font-size: 0.8rem;
        }
      }
    }
    img {
      width: 15rem;
    }
  }
}

@media (max-width: 800px) {
  footer {
    padding: 0;
    width: 100%;

    img {
      display: none;
    }
  }
}

@media (max-width: 480px) {
  footer {
    .footer_content {
      width: 100%;
      padding: 0 1rem;

      h1 {
        font-size: 1rem;
      }

      p {
        font-size: 0.7rem;
      }

      .email_input {
        width: 100%;
        flex-direction: column;
        gap: 1rem;

        input {
          box-sizing: border-box;
          width: 100%;
          height: 2.5rem;
          font-size: 0.8rem;
        }

        button {
          box-sizing: border-box;
          width: 100%;
          height: 2.5rem;
          font-size: 0.8rem;
        }
      }

      .terms_container {
        font-size: 0.8rem;

        .checkmark {
          height: 15px;
          width: 15px;
        }
        .checkmark:after {
          left: 5px;
          top: 2px;
          width: 3px;
          height: 6px;
        }
      }
      .footer_links {
        a {
          font-size: 0.6rem;
        }
      }
    }
  }
}
